<INPUT TYPE="image" id="ppx" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;"/>
<p style="clear:both">
<strong>On the next step you will be able to pay with your credit card VISA, MasterCard, Diners Club, AmEx etc. or your PayPal account if you have one.</strong>  
</p>
